.plugin-insight-groups-bubble {
    max-width: 550px;
}

.plugin-insight-groups-bubble-content {
    padding: 10px 0;
}

.plugin-insight-groups-bubble-content .gd-list-item {
    font-size: 14px;
    padding: 4px 15px;
    display: block;
}
