.plugin-insight-groups-header-title {
    position: absolute;
    width: 100%;
    padding-right: 15px;
    margin-top: 10px;
    z-index: 1;
}

.plugin-insight-groups-header-title-content {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    font-size: 17px;
}
.plugin-insight-groups-header-title-content .plugin-insight-groups-header-title-content-name {
    cursor: pointer;
}

.plugin-insight-groups-group-icon {
    vertical-align: middle;
}
.plugin-insight-groups-header-title:hover .plugin-insight-groups-group-icon {
    /* Does not work on Tiger/Panther */
    /* Alternative solution could be https://stackabuse.com/how-to-style-hover-in-react/ */
    /* CSS styling of Dashboard Plugins may be improved in GoodData.UI v9+ */
    stroke: var(--gd-dashboards-content-widget-title-color);
}

.plugin-insight-groups-chevron-icon {
    vertical-align: middle;
}
.plugin-insight-groups-header-title:hover .plugin-insight-groups-chevron-icon {
    /* Does not work on Tiger/Panther */
    /* Alternative solution could be https://stackabuse.com/how-to-style-hover-in-react/ */
    /* CSS styling of Dashboard Plugins may be improved in GoodData.UI v9+ */
    fill: var(--gd-dashboards-content-widget-title-color);
}
.plugin-insight-groups-header-title.opened .plugin-insight-groups-chevron-icon {
    transform: rotate(180deg);
}

.plugin-insight-groups-circle-icon {
    height: 6px;
}
.plugin-insight-groups-circle-icon.selected {
    height: 8px;
}
