
.plugin-insight-groups-visible {
    opacity: 1;
    pointer-events: auto;
    position: relative !important;
}
.plugin-insight-groups-hidden {
    opacity: 0;
    pointer-events: none;
    position: absolute !important;
}
