.gd-icon-circle-question__container {
    position: absolute;
    top: 0px;
    height: 36px;
    width: 36px;
    z-index: 99;
    background-color: #eceff3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dash-item .tooltip-icon {
    right: 54px;
  }
  
  .dash-item .visualization .tooltip-icon {
    top: -12px;
    right: 44px;
  }
  
  .tooltip-icon {
    display: none;
  }
  
  .dash-item:hover .tooltip-icon,
  .dashitem:hover .visualization .tooltip-icon {
    display: flex;
  }
  
  .gd-icon-circle-question__container:hover {
    background-color: white;
    cursor: pointer;
  }
  
  .gd-icon-circle-question {
    color: #6f767f;
  }
  
  .tippy-box[data-animation="fade"][data-state="hidden"] {
    opacity: 0;
  }
  [data-tippy-root] {
    max-width: calc(100vw - 10px);
  }
  .tippy-box {
    position: relative;
    background: rgba(70, 78, 86, 0.95);
    padding: 7px 10px;
    font-size: 14px;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.4;
    white-space: normal;
    outline: 0;
    transition-property: transform, visibility, opacity;
  }
  .tippy-box[data-placement^="top"] > .tippy-arrow {
    bottom: 0;
  }
  .tippy-box[data-placement^="top"] > .tippy-arrow:before {
    bottom: -7px;
    left: 0;
    border-width: 8px 8px 0;
    border-top-color: initial;
    transform-origin: center top;
  }
  .tippy-box[data-placement^="bottom"] > .tippy-arrow {
    top: 0;
  }
  .tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
    top: -7px;
    left: 0;
    border-width: 0 8px 8px;
    border-bottom-color: initial;
    transform-origin: center bottom;
  }
  .tippy-box[data-placement^="left"] > .tippy-arrow {
    right: 0;
  }
  .tippy-box[data-placement^="left"] > .tippy-arrow:before {
    border-width: 8px 0 8px 8px;
    border-left-color: initial;
    right: -7px;
    transform-origin: center left;
  }
  .tippy-box[data-placement^="right"] > .tippy-arrow {
    left: 0;
  }
  .tippy-box[data-placement^="right"] > .tippy-arrow:before {
    left: -7px;
    border-width: 8px 8px 8px 0;
    border-right-color: initial;
    transform-origin: center right;
  }
  .tippy-box[data-inertia][data-state="visible"] {
    transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
  }
  .tippy-arrow {
    width: 16px;
    height: 16px;
    color: rgba(70, 78, 86, 0.95);
  }
  .tippy-arrow:before {
    content: "";
    position: absolute;
    border-color: transparent;
    border-style: solid;
  }
  .tippy-content {
    position: relative;
    padding: 5px 9px;
    z-index: 1;
  }